<p id="notice"><%= notice %></p>

<p>
  <b>Libelle:</b>
  <%= @categorie_endroit.libelle %>
</p>


<%= link_to 'Edit', edit_categorie_endroit_path(@categorie_endroit) %> |
<%= link_to 'Back', categorie_endroits_path %>
