<div class="header_content">
  <div class="body">
    <div class="left" id="header_left">
      <a class="header_logo" href="/"><img src="/assets/logo.png"></a>
    </div>
    <div class="header_menu">
      <ul id="menu">
        <li><a href="/">Accueil</a></li>
        <li><a href="#apercu" rel="facebox">New events</a></li>
        <li><a href="/profil">Profil</a></li>
      </ul>
    </div>
  </div>

  <div class="search">
    <span class="sign">
      <a href="#signin" rel="facebox">Sign In</a> | <a href="#signup" rel="facebox">Sign Up</a>
    </span>
    <form class="form-search js-search-form " action="/search" id="global-nav-search">
        <span class="search-icon js-search-action">
            <i class="nav-search"></i>
        </span>
      <input class="search-input" type="text" id="search-query" placeholder="Rechercher" name="q" autocomplete="off" spellcheck="false">
    </form>
  </div>
</div>
