// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-fb {
  background:url("BTFormFBConnect.png") top left no-repeat;
  width : 269px;
  height : 45px;
  overflow:hidden;
}