<p id="notice"><%= notice %></p>

<p>
  <b>Libelle:</b>
  <%= @categorie_event.libelle %>
</p>


<%= link_to 'Edit', edit_categorie_event_path(@categorie_event) %> |
<%= link_to 'Back', categorie_events_path %>
